/* Source: https://fonts.googleapis.com/css?family=Metamorphous*/
@font-face {
  font-family: Metamorphous;
  src: url(Metamorphous/Metamorphous-Regular.ttf);
}

@font-face {
  font-family: JuliusSans;
  src: url(JuliusSans/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: Cormorant;
  src: url(Cormorant_SC/CormorantSC-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Cormorant;
  src: url(Cormorant_SC/CormorantSC-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rosario;
  src: url(Rosario/Rosario-VariableFont_wght.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Fontello;
  src: url("fontello/fontello.ttf");
}

.navbar {
  font-family: JuliusSans, Verdana, sans-serif;
  /*font-family: Rosario, Verdana, sans-serif;*/
  /*font: 32px Cormorant, Sans-Serif;*/
  /*font-family: Metamorphous, SansSerif;*/
  font-size: 32px;
  font-style: initial;
  overflow: hidden;
  background-color: #294575;
  color: #6291D8;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #6291D8;
  font-size: 18px;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  /*background: #ddd;*/
  /*color: black;*/
  color: white;
}

.main a {
  background-color: #294575;
  color: #6291D8;
  padding: 16px 12px 12px 12px;
  text-decoration: none;
  border-radius: 8px;
}

.main a:hover {
  color: white;
}

.icon {
  font-family: Fontello;
  font-size: 24px;
  color: white;
}

/* Main content */
.main {
  padding: 18px 24px;
  margin-top: 54px; /* Add a top margin to avoid content overlay */
  /*height: 15px; !* Used in this example to enable scrolling *!*/
  /*width: 100%;*/
  /*overflow-y: hidden !important;*/
  background-image: url('../images/Aspendos-Interior.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lead {
  font-size: 20px
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /*background-color: black;*/
  color: #6291D8;
  padding-left: 20px;
  padding-right: 20px;
  width: 1000px;
}

body {
  font-family: Metamorphous, Palatino, serif;
  font-size: 14px;
  color: white;
}

/*.example-table {*/
/*  padding: 0 40px 0 0;*/
/*}*/

.example {
  padding: 0 40px 0 0;
}

.table-text {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.main td {
  padding: 240px 40px 0 0;
}

.black {
  background-color: black;
}

.fontello {
  font-family: Fontello;
  font-size: 36px;
}

h1 {
  font-size: 48px;
}

screenshots {
  background-color: #839FB8;
}

