/* Source: https://fonts.googleapis.com/css?family=Metamorphous*/
@font-face {
  font-family: Metamorphous;
  src: url(Metamorphous/Metamorphous-Regular.ttf);
}

@font-face {
  font-family: JuliusSans;
  src: url(JuliusSans/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: Cormorant;
  src: url(Cormorant_SC/CormorantSC-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Cormorant;
  src: url(Cormorant_SC/CormorantSC-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rosario;
  src: url(Rosario/Rosario-VariableFont_wght.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Fontello;
  src: url("fontello/fontello.ttf");
}

.navbar {
  font-family: JuliusSans, Verdana, sans-serif;
  /*font-family: Rosario, Verdana, sans-serif;*/
  /*font: 32px Cormorant, Sans-Serif;*/
  /*font-family: Metamorphous, SansSerif;*/
  font-size: 32px;
  font-style: initial;
  overflow: hidden;
  background-color: #294575;
  color: #61B2F8;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #61B2F8;
  font-size: 18px;
  text-align: right;
  padding: 0 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  /*background: #ddd;*/
  /*color: black;*/
  color: white;
}

/* Current selection in the nav bar*/
.current {
  color: white;
  font-size: 18px;
  padding: 0 16px;
}

.main a {
  background-color: #294575;
  color: #61B2F8;
  padding: 16px 12px 12px 12px;
  text-decoration: none;
  border-radius: 8px;
  font-family: JuliusSans;
  font-size: 18px;
}

.main a:hover {
  color: white;
}

/* Main content */
.main {
  padding: 18px 24px;
  margin-top: 54px; /* Add a top margin to avoid content overlay */
  /*height: 15px; !* Used in this example to enable scrolling *!*/
  /*width: 100%;*/
  /*overflow-y: hidden !important;*/
  background: #839FB8;
}


.aspendos {
  background-image: url('../images/Aspendos-Interior.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  font-family: Fontello;
  font-size: 28px;
  color: white;
}

.lead {
  font-size: 20px
}

body {
  font-family: Metamorphous, Palatino, serif;
  font-size: 14px;
  color: white;
}

/*.example-table {*/
/*  padding: 0 40px 0 0;*/
/*}*/

.example {
  padding: 240px 40px 240px 0;
}

.table-text, .faq {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.table-text tr td {
  padding-right: 40px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-family: Sans-Serif;
}

.screenshots {
  background-color: #839FB8;
}

/*.screenshots td {*/
/*  padding: 20px 0;*/
/*}*/

.about {
  padding: 300px 0; 
  background-image: url('../images/Scan.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.about, .aboutText {
  font-family: Serif;
  font-size: 18px;

}

.smallHeadLine {
  font-family: sans-serif;
  font-size: 64pt;
  font-weight: bold;
}

.screenshots p {
  font-family: Serif;
  font-size: 18px;
}

.about a:hover {
  color: white;
}

.answer {
  font-family: Serif;
}

.question {
  font-family: Sans-Serif;
  font-size: 24px;
  font-weight: bold;
  color: #294575;
  padding: 24px 40px; /* 24 px padding is set to match vertical margin of 24 on paragraphs in td > p style */
}

td > p {
  margin: 24px 0;
}

.faq tr td {
  vertical-align: top;
}

.question {
  width: 25%;
}



